<!--  Author: Amin  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NYHai Flight</title>
 
    
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script /static/js/jquery.js"> </script>
    <script /static/js/signUp.js"></script>
 <script src='static/Chart.min.js'></script>   

    
  </head>
 
  <body>
      <div class="header navbar fixed-top">
                <ul class="nav nav-pills">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">
                            <span class="fa fa-home fa-lg"></span> Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./aboutus.html">
                            <span class="fa fa-info fa-lg"></span> Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./logout"> 
                            <span class="fa fa-list fa-lg"></span> Log Out</a>
                    </li>
                </ul>            
           </div>

        <h3 class="text-muted">NYU Airlines</h3>
        <h4>You are logged in as: {{username}} from {{curr_line}}</h4>
      </div>
 
      <div class="jumbotron">
        
        <br>



     
            <div id="collapseOne" class="container">
            
        
            <div class="panel-body">
              
              <h3>Upcoming flights</h3>

              <div class="table-responsive">

            <table class='table'>
              <th>Airline Name</th>
              <th>Flight Number</th>
              <th>Departure Airport</th>
              <th>Departure Time</th>
              <th>Arrival Airport</th>
              <th>Arrival Time</th>
              <th>Flight Status</th>

            {% for line in flights %}
              <tr>
                <td>{{line.airline_name}}</td>
                <td>{{line.flight_num}}</td>
                <td>{{line.departure_airport}}</td>
                <td>{{line.departure_time}}</td>
                <td>{{line.arrival_airport}}</td>
                <td>{{line.arrival_time}}</td>
                <td>{{line.status}}</td>
              </tr>
            {% endfor %}
            </table>
          </div>

          <div class="tab-content">
                    <div class="tab-pane fade active in" id="Flights">
                      <a class="btn btn-brand waves-attach waves-light" data-toggle="modal" href="#add_new_flights">Add new flights</a>
                      <a class="btn btn-brand waves-attach waves-light" data-toggle="modal" href="#change_status">Change status</a>

                     
                      <a class="btn btn-brand waves-attach waves-light" data-toggle="modal" href="#search_passengers">Search for passengers for a flight</a>
                      <a class="btn btn-brand waves-attach waves-light" data-toggle="modal" href="#add_new_planes">Add new planes</a>
                      
                    </div>
<!--               
                    list your compay's flights
                    ADD FlIGHT
                    change flight status

 -->              
            </div>
        </div>
    </div>

    
        

    
        <div id="collapseThree" class="container">
            <div class="panel-body">
                <div class="table-responsive">

            <table class='table'>
              <th>Airport Name</th>
              <th>Airport City</th>
              

            {% for line in airports %}
              <tr>
                <td>{{line.airport_name}}</td>
                <td>{{line.airport_city}}</td>
                
              </tr>
            {% endfor %}
            </table>
          </div>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="ports">
                      <a class="btn btn-brand waves-attach waves-light" data-toggle="modal" href="#add_new_airport">Add new airport</a>
                      
                    </div>
<!--                 add airport 
                    list top destinations and top departures
 -->

            </div>
        </div>
    </div>
    
        <div id="collapse4" class="container">
            <div class="panel-body">
                            <h3>Top agents in the past month</h3>


                <div class="table-responsive">

            <table class='table'>
              <th>Agent ID</th>
              <th>Sold</th>
              

            {% for line in agents_month %}
              <tr>
                <td>{{line.booking_agent_id}}</td>
                <td>{{line.sold}}</td>
                
              </tr>
            {% endfor %}
            </table>
          </div>

          <div class="table-responsive">
                                        <h3>Top agents in the past year</h3>

            <table class='table'>
              <th>Agent ID</th>
              <th>Sold</th>
              

            {% for line in agents_year %}
              <tr>
                <td>{{line.booking_agent_id}}</td>
                <td>{{line.sold}}</td>
                
              </tr>
            {% endfor %}
            </table>
          </div>


                            


                <div class="table-responsive">
                  <h3>Top agents by comission in the past year</h3>

            <table class='table'>
              <th>Agent ID</th>
              <th>Sold</th>
              

            {% for line in comission %}
              <tr>
                <td>{{line.booking_agent_id}}</td>
                <td>{{line.sold}}</td>
                
              </tr>
            {% endfor %}
            </table>
          </div>

<!--               
                    list all the agents

 -->              
            </div>
        </div>
    
        <div id="collapse5" class="container">
            <div class="panel-body">
                
                <div class="table-responsive">
<h3>Top customers of our airline</h3>
            <table class='table'>
              <th>Email</th>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Date of birth</th>
              <th>State</th>
              <th>City</th>
              <th>Street</th>
              <th>Building Number</th>
              

            {% for line in customers %}
              <tr>
                <td>{{line.email}}</td>
                <td>{{line.name}}</td>
                <td>{{line.phone_number}}</td>
                <td>{{line.date_of_birth}}</td>
                <td>{{line.state}}</td>
                <td>{{line.city}}</td>
                <td>{{line.street}}</td>
                <td>{{line.building_number}}</td>
                
              </tr>
            {% endfor %}
            </table>
          </div>
          <div class="tab-content">
                    <div class="tab-pane fade active in" id="Flights">
                      
                      <a class="btn btn-brand waves-attach waves-light" data-toggle="modal" href="#customers_flights">Search for all flights for a particular customer</a>
                      
                    </div>
<!--               
                    list your compay's flights
                    ADD FlIGHT
                    change flight status

 -->              
            </div>
<!--               
                    list frequent customers

 -->              
            </div>
        </div>

    
        <div id="collapse40" class="container">
            <div class="panel-body">
              <h3>Top destinations in the past 3 months</h3>
                <div class="table-responsive">

            <table class='table'>
              <th>Agent ID</th>
              <th>Agent Email</th>
              <th>No of customers</th>


            {% for line in dest3M %}
              <tr>
                <td>{{line.airport_name}}</td>
                <td>{{line.airport_city}}</td>
                <td>{{line.cust}}</td>

                
              </tr>
            {% endfor %}
            </table>
          </div>
          <h3>Top destinations in the past year</h3>

          <div class="table-responsive">

            <table class='table'>
              <th>Agent ID</th>
              <th>Agent Email</th>
              <th>No of customers</th>


            {% for line in dest1Y %}
              <tr>
                <td>{{line.airport_name}}</td>
                <td>{{line.airport_city}}</td>
                <td>{{line.cust}}</td>

                
              </tr>
            {% endfor %}
            </table>
          </div>

<!--               
                    list all the agents

 -->              
            </div>
        </div>


   
        <div id="collapse6" class="container">
            <div class="panel-body">
                

<!--               
                    STATISTICS

 -->              
            </div>
        </div>

    
        <div id="collapse7" class="container">
            <div class="panel-body">
                
            <h2>Find flights for a range</h2>
<form action="/profileStaffDates" method="POST" class="dates-spending">
  <label for="inputFrom" class="">From</label>
  <input type="date" style="width: 160px" name="inputFrom" id="inputFrom" class="form-control" placeholder="From" >

  <label for="inputTo" class="">To</label>
  <input type="date" style="width: 160px" name="inputTo" id="inputTo" class="form-control" placeholder="To" >

  <input class="btn btn-primary btn-sm" type="submit" value="Confirm">
  <br>
</form>
<br>


<!--               
                    COMPARISONOF REVENUE(?)

 -->              
            </div>




<div class= 'container'>
  <div class='row'>

        <div class="col-sm-6 piechartM">
        <h3>Revenue Comparison for  a month</h3><!-- bar chart canvas element -->
                        <canvas id="chartM" width="300" height="200"></canvas>
            <script>
               var pieData = [
                        {% for item,label,colors in for_month %}
                            {
                                value: {{item}},
                                label: "{{label}}",
                                color : "{{colors}}"
                            },
                            {% endfor %}
             
             
                     ];
             
               // get bar chart canvas
               var mychart = document.getElementById("chartM").getContext("2d");
             
               steps = 10
               max = 10
               // draw pie chart
               new Chart(document.getElementById("chartM").getContext("2d")).Pie(pieData);
             
            </script>
          </div>

          <div class="col-sm-6 piechartY">
        <h3>Revenue Comparison for  a year</h3><!-- bar chart canvas element -->
                        <canvas id="chartY" width="300" height="200"></canvas>
            <script>
               var pieDataY = [
                        {% for item,label,colors in for_year %}
                            {
                                value: {{item}},
                                label: "{{label}}",
                                color : "{{colors}}"
                            },
                            {% endfor %}
             
             
                     ];
             
               // get bar chart canvas
               var mychart = document.getElementById("chartY").getContext("2d");
             
               steps = 10
               max = 10
               // draw pie chart
               new Chart(document.getElementById("chartY").getContext("2d")).Pie(pieDataY);
             
            </script>
          </div>



    </div>


</div>
</div>


</div>






<div aria-hidden="true" class="modal fade" id="add_new_flights" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-heading">
          <a class="modal-close" data-dismiss="modal">×</a>
          <h2 class="modal-title">Add new flights</h2>
        </div>
        <form class="form" action="/add_flights" method="POST">

          

          <div class="modal-body">
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="departure">Airline Name</label>
              <select class="form-control" id="departure" name="airline1">
                {% for line in airlines %}

                <option name="{{ line.airline_name }}">{{ line.airline_name }}</option>

                {% endfor %}
              </select>
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="departure">Airline Name</label>
              <select class="form-control" id="departure" name="airline1">
                {% for line in airlines %}

                <option name="{{ line.airline_name }}">{{ line.airline_name }}</option>

                {% endfor %}
              </select>
            </div>

            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Flight_no"> Flight number </label>
              <input class="form-control" id="Flight_no" type="text" name="flight_id">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Date_begin"> Date Departure </label>
              <input class="form-control" id="Date_begin" type="datetime-local" name="date_dep">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Date_end"> Date Arrival </label>
              <input class="form-control" id="Date_end" type="datetime-local" name="date_arr">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="departure">Departs From</label>
              <select class="form-control" id="departure" name="departure">
                {% for airport in airports %}

                <option name="{{ airport.airport_name }}">{{  airport.airport_name }}</option>

                {% endfor %}
              </select>
            </div>


            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="arrival">Arrival</label>
              <select class="form-control" id="arrival" name="arrival">
                {% for airport in airports %}

                <option name="{{ airport.airport_name }}">{{  airport.airport_name }}</option>

                {% endfor %}
              </select>
            </div>
            
            
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Price"> Price </label>
              <input class="form-control" id="Price" type="text" name="price">
            </div>
            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="arrival">Status</label>
              <select class="form-control" id="status" name="status">
                {% for stat in stats %}

                <option name="{{ stat.status }}">{{ stat.status }}</option>

                {% endfor %}
              </select>
            </div>

            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="arrival">Plane ID</label>
              <select class="form-control" id="arrival" name="planeid">
                {% for plane in planes %}

                <option name="{{ plane.airplane_id }}">{{ plane.airplane_id }}</option>

                {% endfor %}
              </select>
            </div>
            
          </div>
          <div class="modal-footer">
            <p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" type="submit">Add</button></p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div aria-hidden="true" class="modal fade" id="add_new_planes" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-heading">
          <a class="modal-close" data-dismiss="modal">×</a>
          <h2 class="modal-title">Add new planes</h2>
        </div>
        <form class="form" action="/add_plane" method="POST">
          <div class='modal-body'>
            <div class="">
              <h2>Currently owned planes</h2>
              <table class='table'>
              <th>Airline Name</th>
              <th>Airplane ID</th>
              <th>Total Seats</th>
              

            {% for line in allplanes %}
              <tr>
                <td>{{line.airline_name}}</td>
                <td>{{line.airplane_id}}</td>
                <td>{{line.seats}}</td>
                
              </tr>
            {% endfor %}
            </table>
<!--                 add plane 

 -->            </div>
          <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="departure">Airline Name</label>
              <select class="form-control" id="departure" name="airline2">
                {% for line in airlines %}

                <option name="{{ line.airline_name }}">{{ line.airline_name }}</option>

                {% endfor %}
              </select>
            </div>



            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="airpl"> Plane ID </label>
              <input class="form-control" id="airpl" type="text" name="airpl">
            </div>

            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="seat"> Seats </label>
              <input class="form-control" id="seat" type="text" name="seat">
            </div>
          </div>
          <div class="modal-footer">
            <p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" type="submit">Add</button></p>
          </div>
        </form>
      </div>
    </div>
  </div>


   <div aria-hidden="true" class="modal fade" id="add_new_airport" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-heading">
          <a class="modal-close" data-dismiss="modal">×</a>
          <h2 class="modal-title">Add new airports</h2>
        </div>
        <form class="form" action="/add_airport" method="POST">
          <div class='modal-body'>
          <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="port">Airport Name</label>
              <input class="form-control" id="port" type="text" name="airportA">

            </div>



            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="city"> City </label>
              <input class="form-control" id="city" type="text" name="city">
            </div>

            
          </div>
          <div class="modal-footer">
            <p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" type="submit">Add</button></p>
          </div>
        </form>
      </div>
    </div>
  </div>

<div aria-hidden="true" class="modal fade" id="change_status" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-heading">
          <a class="modal-close" data-dismiss="modal">×</a>
          <h2 class="modal-title">Change Flight Status</h2>
        </div>
        <form class="form" action="/change_status" method="POST">
          <div class='modal-body'>
              <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="departure">Airline Name</label>
              <select class="form-control" id="departure" name="airline3">
                {% for line in airlines %}

                <option name="{{ line.airline_name }}">{{ line.airline_name }}</option>

                {% endfor %}
              </select>
            </div>

            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="departure">Flight ID</label>
              <select class="form-control" id="departure" name="flight_id3">
                {% for line in allFlights %}

                <option name="{{ line.flight_num }}">{{ line.flight_num }}</option>

                {% endfor %}
              </select>
            </div>

            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="arrival">Change Status To</label>
              <select class="form-control" id="status" name="status">
                {% for stat in stats %}

                <option name="{{ stat.status }}">{{ stat.status }}</option>

                {% endfor %}
              </select>
            </div>

          </div>
          <div class="modal-footer">
            <p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" type="submit">Add</button></p>
          </div>
        </form>
      </div>
    </div>
  </div>


<!-- search passengers from a flight -->
  <div aria-hidden="true" class="modal fade" id="search_passengers" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-heading">
          <a class="modal-close" data-dismiss="modal">×</a>
          <h2 class="modal-title">Search for passengers from a flight</h2>
        </div>
        <form class="form" action="/search_passengers" method="POST">
          <div class="modal-body">
          <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="departure">Airline Name</label>
              <select class="form-control" id="departure" name="airline3">
                {% for line in airlines %}

                <option name="{{ line.airline_name }}">{{ line.airline_name }}</option>

                {% endfor %}
              </select>
            </div>

            <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="departure">Flight ID</label>
              <select class="form-control" id="departure" name="flight_id3">
                {% for line in allFlights %}

                <option name="{{ line.flight_num }}">{{ line.flight_num }}</option>

                {% endfor %}
              </select>
            </div>

            
          </div>
          <div class="modal-footer">
            <p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" type="submit">Add</button></p>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
<!-- search flights for passnger -->
<div aria-hidden="true" class="modal fade" id="customers_flights" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class = 'modal-body'>
      <div class="modal-content">
        <div class="modal-heading">
          <a class="modal-close" data-dismiss="modal">×</a>
          <h2 class="modal-title">Search for passengers from a flight</h2>
        </div>
        <form class="form" action="/customers_flights" method="POST">
          <div class= "modal-body">
          <div class="form-group form-group-label form-group-brand form-limit3">
              <label class="floating-label" for="Flight_no"> Customer's Email </label>
              <input class="form-control" id="Flight_no" type="text" name="email4">
            </div>

            
          </div>
          <div class="modal-footer">
            <p class="text-right"><button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">Close</button><button class="btn btn-flat btn-brand waves-attach" type="submit">Add</button></p>
          </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>