<!--  Author: Amin  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script /static/js/jquery.js"> </script>
    <script /static/js/signUp.js"></script>
    <script src='static/js/Chart.min.js'></script>
    
  </head>
 
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li> &ensp;
            <li role="presentation" class="active"><a href="#">Profile</a></li> &ensp;
            <li role="presentation"><a href="/logout">Logout</a></li> &ensp;
          </ul>
        </nav>
        <h3 class="text-muted">NYU Airlines</h3>
      </div>
 
      <div class="jumbotron">
        <h4>You are logged in as: {{username}}</h4>
        <h2>My Flights</h2>

    <div class="table-responsive">

    <table class='table'>
      <th>Airline Name</th>
      <th>Flight Number</th>
      <th>Departure Airport</th>
      <th>Departure Time</th>
      <th>Arrival Airport</th>
      <th>Arrival Time</th>
      <th>Flight Status</th>

    {% for line in flights %}
      <tr>
        <td>{{line.airline_name}}</td>
        <td>{{line.flight_num}}</td>
        <td>{{line.departure_airport}}</td>
        <td>{{line.departure_time}}</td>
        <td>{{line.arrival_airport}}</td>
        <td>{{line.arrival_time}}</td>
        <td>{{line.status}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

    
<h2>Track My Spending</h2>
<form action="/profileCustomerDates" method="POST" class="dates-spending">
  <label for="inputFrom" class="">From</label>
  <input type="date" style="width: 160px" name="inputFrom" id="inputFrom" class="form-control" placeholder="From" required>

  <label for="inputTo" class="">To</label>
  <input type="date" style="width: 160px" name="inputTo" id="inputTo" class="form-control" placeholder="To" required>

  <input class="btn btn-primary btn-sm" type="submit" value="Confirm">
  <br>
</form>
<br>

<canvas id="chart" width="600" height="400"></canvas>
<script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }
 
   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   steps = 10
   max = "{{maxSpending}}"
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });
 
</script>
  </div>
  </body>
</html>