<!-- /* Author: Artem and Amin */ -->
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>NYU Airlines</title>
 
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="showLogin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showUsertype">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">NYU Airlines</h3>
        </div>
 
        <div class="jumbotron">
            <h2>Flight Search</h2>
            <br>
            <h2>Flight Status</h2>
            <form action="/flightStatus" method="POST" class="form-signin">
                <label for="inputAirlineName" class="">Airline Name</label>
                <input type="text" name="inputAirlineName" id="inputAirlineName" class="form-control" placeholder="Airline Name" required autofocus>

                <label for="inputFlightNumber" class="">Flight Number</label>
                <input type="number" name="inputFlightNumber" id="inputFlightNumber" class="form-control" placeholder="Flight Number" required autofocus>
  
                <label for="dat" class="">Departure Date</label>
                <input type="date" name="dat" id="dat" class="form-control" placeholder="Departure Date" required>

                <input class="btn btn-md btn-primary btn-block" type="submit" value="Check">
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{error}}</p>
                {% endif %}
                <br>
         
            </form>
            <div class="table-responsive">

            <table class='table'>
              <th>Airline Name</th>
              <th>Flight Number</th>
              <th>Departure Airport</th>
              <th>Departure Time</th>
              <th>Arrival Airport</th>
              <th>Arrival Time</th>
              <th>Flight Status</th>

            {% for line in status %}
              <tr>
                <td>{{line.airline_name}}</td>
                <td>{{line.flight_num}}</td>
                <td>{{line.departure_airport}}</td>
                <td>{{line.departure_time}}</td>
                <td>{{line.arrival_airport}}</td>
                <td>{{line.arrival_time}}</td>
                <td>{{line.status}}</td>
              </tr>
            {% endfor %}
            </table>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; NYU Airlines 2018</p>
        </footer>
 
    </div>
</body>
 
</html>