<!--  Author: artem  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
    
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script /static/js/jquery.js"> </script>
    <script /static/js/signUp.js"></script>
 <script src='static/Chart.min.js'></script> 
    
  </head>
 
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li> &ensp;
            
            
          </ul>
        </nav>
        <h3 class="text-muted">NYU Airlines</h3>
      </div>
 
      <div class="jumbotron">

        <h2>Your search results</h2>

    <div class="table-responsive">

    <table class='table'>
      <th>Airline Name</th>
      <th>Flight Number</th>
      <th>Departure Airport</th>
      <th>Departure Time</th>
      <th>Arrival Airport</th>
      <th>Arrival Time</th>
      <th>Flight Status</th>

    {% for line in flights %}
      <tr>
        <td>{{line.airline_name}}</td>
        <td>{{line.flight_num}}</td>
        <td>{{line.departure_airport}}</td>
        <td>{{line.departure_time}}</td>
        <td>{{line.arrival_airport}}</td>
        <td>{{line.arrival_time}}</td>
        <td>{{line.status}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <form action="/buyFlight" method="POST" class="form-signin">


                <h2>Enter the details of the flight you want to purchase</h2>
                <label for="buyAirlineName" class="">Airline Name</label>
                <input type="text" name="buyAirlineName" id="buyAirlineName" class="form-control" placeholder="Airline Name" required autofocus>

                <label for="buyFlightNumber" class="">Flight Number</label>
                <input type="number" name="buyFlightNumber" id="buyFlightNumber" class="form-control" placeholder="Flight Number" required autofocus>
  
                
                
                
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{error}}</p>
                {% endif %}
                <br>
              <label class="floatisng-label" for="buyEmail">Email you use to log in</label>
              <input class="form-control" id="buyEmail" type="text" name="buyEmail">




              <label class="floating-label" for="buyPass">Your Password</label>
              <input class="form-control" id="buyPass" type="text" name="buyPass">
              <h3>Only fill the following if you are a booking agent</h3>
              <label class="floating-label" for="buyAgent"> Booking Agent ID (if applicable) </label>
              <input class="form-control" id="buyAgent" type="text" name="buyAgent">
              <label class="floating-label" for="buyAgent"> Your customer's email (if you are an agent) </label>
              <input class="form-control" id="buyCust" type="text" name="buyCust">
            
              <input class="btn btn-md btn-primary btn-block" type="submit" value="Confirm">


            </form>

    

  </div>
  </body>
</html>